body {
    width: 100vw;
}

#root {
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

#root:nth-child(1){
    height: 95vh;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    border-bottom: solid black .25px;
}

menu {
    display: flex;
    gap: 2rem;
    padding-left: 10rem;
}

menu>li {
    list-style: none;
}

.feed {
    display: flex;
    flex-wrap: wrap;
}

.feed>li  {
    list-style: none;
}

.form_container {
    width: 100vw;
}

.login_notification {
    width: 100vw;
}

.post_card {
    display: flex;
    flex-direction: column;
    
    width: 20rem;
    height: 20rem; 

    border: solid black .025rem;
    border-radius: 5%;
    margin: 1rem;
    padding: .5rem;
}

.post_message_input {
    height: 5rem;
}

